@charset "UTF-8";
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid{
  padding: 10px;
}

.grid::after{
  content: '';
  display: block;
  clear: both;
  
}

.grid .col{
  width: 33.33%;
  float: left;
  padding: 20px;
}

.grid .col-content{
  width: 100%;
  float: left;
}

.col-content::first-letter{
  font-size: 40px;
  float: left;
  margin-right: 5px;
}

@media (max-width: 850px){
  .grid .col{
    width: 50%;
  }
}

@media (max-width: 550px){
  .grid .col{
    width: 100%;
  }
}

/* p{
  clear: left;
} */