@charset "UTF-8";
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --corpadrao: #0A1128;
}

html{
  font-family: sans-serif;
  scroll-behavior: smooth;
}

header{
  display: flex;  
  justify-content: space-between;
  padding: 15px 50px;
  align-items: center;
  margin: auto;
  position: fixed;
  background-color:white;
  width: 100%;
}

.logo h1 a{
  font-variant: small-caps;
  font-size: 2.3rem;
  color: var(--corpadrao);
  text-decoration: none;
}

.nav ul{
  display: flex;
  list-style: none;
  margin: 0 10px;
}

.nav a{
  text-decoration: none;
  color: var(--corpadrão);
  margin: 0 10px;
  display: block;
}